<!doctype html>
<html lang="bg">
  <head>
    <meta charset="utf-8">
    <title>The Social Makerspace</title>
    {% assign mainUrl = "https://ivalynx.github.io/trikey.space" %}
    <link rel="stylesheet" href="{{ mainUrl }}/bundle.css">
  </head>
  <body>
    <header>
      <img src="/logo.png" alt="The Social Makerspace" class="logo">
      {% assign navPages = collections.all | eleventyNavigation %}
      <nav><ul>
      {%- for entry in navPages %}
        {% if entry.url == page.url %}
        <li class="currentPage">{{ entry.title }}</li>
        {%  else %}
          <li><a href="{{ mainUrl }}{{ entry.url }}">{{ entry.title }}</a></li>
        {% endif %}
      {%- endfor %}
      </ul></nav>
    </header>
    <main>
      <h1>{{ pageTitle }}</h1>
      {{ content }}
    </main>
    <footer>© 2023 - 2024 Toni Marinov. All rights reserved.</footer>
  </body>
</html>